*{
    margin: 0%;
    font-family: 'roboto', sans-serif ;
    box-sizing:border-box;
}

.primary-btn{
    font-size: 24px;
    font-weight: 700;
    padding: 20px 45px;
    color: #005FAC;
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* header style */
header{
    background-image: url(../images/banner/banner3.png);
    background-position: center;
    background-size: cover;
    background-position: center;
}
.banner{
    padding: 266px 16px 0;
width: 50%;
margin-left: auto;
text-align: right;
color: #ffffff;

}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    margin-bottom: 0px;
}
.banner-description{
    font-size: 22px;
    letter-spacing: 1px;
    margin: 20px 0 40px;
}
/* my failure section */

.failure{
display: flex;
margin: 130px 0;
gap: 100px;
align-items: center;
}

.failure-content-title{
    font-size: 40px;
    margin-bottom: 30px;
}

.failure-content-para{
    font-size: 20px;
    color: #444343;
    margin-bottom: 30px;
}

.failure-list{
    margin-bottom: 15px;
}

.failure-list span i{
    color: #16D887;
    font-size: 22px;
    margin-right: 8px;
}

.plan{
    display: flex;
}

/* my-plan style */

.plan{
    text-align: center;
}
.My-Plans{
    margin-bottom: 130px;
    text-align: center;
}
.My-Plans-title{
    margin-bottom: 30px;
    font-size: 40px;
}
.plan{
    margin-top: 90px;
    display: flex;
    justify-content:space-around;
}

.plan .plane-design img {
    width: 90px;
    margin-bottom: 30px;
}
.plane-design h3 {
    font-size: 30px;
}

.plane-design p{
    font-size: 20px;
    color: #737272;
    margin-top: 10px;
}
.My-Plans-title{
    text-align: center;
}


/* call-to-action style */
.call-to-action{
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url(../images/watch.png);
    border-radius: 8px;
    padding: 60px;
    margin-bottom: 130px;
    background-size: cover;
    background-repeat: no-repeat;
}

.action h3{
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    line-height: 47px;
    margin-bottom: 30px;
}

.action{
    width: 40%;
}

/* footer style */

footer{
    background-color: #000000;
}
.footer-widget {
    color: #fff;
    padding: 130px 0;
    display: flex;
    gap: 300px;
  }
  .left-widget {
    width: 50%;
  }
  .left-widget h2{
    font-size: 40px;
    margin-bottom: 30px;
  }
  .left-widget p {
    font-size: 20px;
    margin-bottom: 36px;
  }
.footer-icon img {
    margin-right: 20px;
  }
  .right-widget {
    width: 50%;
  }
  .right-widget h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .right-widget form input {
    padding: 21px 20px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    background: transparent;
    color: #fff;
    outline: 0;
    border: 1px solid #fff;
    border-radius: 10px;
  }
  .right-widget form .submit{
    width: 50%;
    background-color: #005FAC;
    border: 1px solid #005FAC;
  }

  .task{
    text-align: center;
    width: 50%;
    margin: 0 auto 80px;
  }
  .task-text{
    font-size: 40px;
    margin-bottom: 20px;
  }

  .task-para{
    font-size: 18px;
    color: #8D97AD;
    letter-spacing: 1px;
  }

  /* team section */

  .our-team{
    text-align: center;
    margin-bottom: 130px;
  }
  .team-heading{
    width: 50%;
    margin: 0 auto 80px;
  }
  .team-heading .team-title{
    font-size: 40px;
    margin-bottom: 20px;
  }
  .team-heading .team-description{
    font-size: 18px;
    color: #8D97AD;
    letter-spacing: 1px;
  }
  .team-members{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .team{
    box-shadow: 0 0 10px rgba(0, 101, 177, .4);
    padding: 8px;
    border-radius: 5px;
  }
  .team img {
    width: 200px;
  }
  .team h3 {
    font-size: 26px;
  }
  .team h4 {
    font-size: 22px;
    margin: 5px 0 10px;
    color: #8D97AD;
    font-weight: 500;
  }
  .team p {
    font-size: 18px;
    color: #8D97AD;
  }
  
  .thrree-para{
    margin-top:20%;
  }
  .position{
    margin-top: 20%;
  }